.btn {
    padding: 6px 12px;
    &.btn-primary {
        background-color: $secondary;
        border-color:$secondary;
        color: #fff;
        border-radius: 25px;
        &:hover, &:focus {
            background-color: $secondary;
            border-color: $secondary;
            box-shadow: none;
            outline: 0;
        }
    }
}